body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  text-align: center;
  color: Seashell;
  opacity: 0.9;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1200px;
}

h2, h3, h4 {
  margin: 10px auto;
}

a.anchor {
  display: block;
  position: relative;
  top: -69px;
  visibility: hidden;
}

/* Styling for fixed header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 5;
  height: 69px;
  width: 100%;
  background-color: inherit;
  border-bottom: 1px solid Seashell;
}

header img {
  height: 50px;
  margin-left: 10px;
}

nav a {
  text-decoration: underline;
  margin-right: 10px;
  padding: 5px;
  color: Seashell;
  opacity: 0.9;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Attempted some styled accessibility by turning off user agent outline and adding my own */

nav a:focus {
  outline: none;
  border: 1px dashed Seashell;
}

/* Styling for Mission section */

.mission-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: inherit;
  min-height: 700px;
  background-image: url("../images/img-mission-background.jpg");
  background-repeat: no-repeat;
}
.title-content {
  width: 100%;
  background-color: black;
}

/* Styling for Featured Teas section */

.featured-tea-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  margin-top: 40px;
}
.group-of-teas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tea {
  margin: 10px 15px;
}

.tea img {
  height: 200px;
}

/* Styling for Locations section */

.location-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  min-width: inherit;
  min-height: 500px;
  background-image: url("../images/img-locations-background.jpg");
  background-repeat: no-repeat;
}

.locations {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.individual-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  background-color: black;
  margin: 0 20px;
  opacity: 1;
}

.contact{
  min-height: 200px;
}

/* Styling for Footer */
/* Note: Made copyright text smaller since base size (22px) looked too big */

footer {
  font-size: 14px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
}
